/* Temel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e93a8c;
    color: #6be95a;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #6be95a;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.product img {
   height: 100px;
}

button {
    background-color: #e93a8c;
    color: #6be95a
    ;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6be95a;
    color: #e93a8c;
}

footer {
    background-color: #e93a8c;
    color: #6be95a;
    text-align: center;
    padding: 10px 0;
}
